@import 'src/assets/styles/pagerduty.scss';

.selected-incidents-ctr {
  display: flex;
  justify-content: flex-end;
  padding-left: 10px;
}

.selected-incidents-badge {
  position: relative;
  top: 3px;
}

.selected-incidents {
  padding-left: 8px;
  position: relative;
  top: 8px;
}
